*.framework/** filter=lfs diff=lfs merge=lfs -text
I2CppDumperDylib/includes/GGTranslation/MLKitCommon/Frameworks/MLKitCommon.framework/** filter=lfs diff=lfs merge=lfs -text
I2CppDumperDylib/includes/GGTranslation/MLKitNaturalLanguage/Frameworks/MLKitNaturalLanguage.framework/** filter=lfs diff=lfs merge=lfs -text
I2CppDumperDylib/includes/GGTranslation/MLKitTranslate/Frameworks/MLKitTranslate.framework/** filter=lfs diff=lfs merge=lfs -text
I2CppDumperDylib/includes/GGTranslation/PromisesObjC/FBLPromises.framework/** filter=lfs diff=lfs merge=lfs -text
